<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <title>Ecommerce website by Ndifreke| <%= title %></title>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://t3.ftcdn.net/jpg/03/28/75/38/240_F_328753895_nR1X13cQNFtBysK2VAG5Y4pOvTASGHGu.jpg" class="d-block w-100" alt="...">
        </div>
      
  <div class="container-fluid">
    <h1>SHOP SMART, SHOP NOW!</h1>
  </div>
  </div>


  <%- include('./partials/footer.ejs') %>
</body>
</html>
